.routepage {
  padding: 0;
  overflow: auto;
  height: calc( 100vh - 64px );
}
:host ::ng-deep .mat-horizontal-content-container {
  padding: 0.2% !important;
}
.mat-stepper-horizontal {
  background-color: inherit;
} 
 

