.col-md-10 {
  padding: 0;
  margin: 0;
  margin-top: 63px;
  position: relative;
}

.routepage {
  padding: 0;
  overflow: auto;
  height: calc( 100vh - 63px );
}
:host ::ng-deep .mat-horizontal-content-container {
  padding: 0.2% !important;
}
mat-horizontal-stepper{
  height: 20px;
}
