<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === true">
    <mat-toolbar style="background-color:#351C15 !important"></mat-toolbar>
    <mat-nav-list>
      <ul class="list-unstyled components">
        <li routerLinkActive="active"><a routerLink="/workflow"><span class="glyphicon glyphicon-calendar"></span> Workflow</a></li>
        <li routerLinkActive="active"><a routerLink="/shipperlist"><span class="glyphicon glyphicon-list-alt"></span> Shipper List</a></li>
        <li routerLinkActive="active"><a routerLink="/addressbook"><span class="glyphicon glyphicon-book"></span> Address Book</a></li>
        <li routerLinkActive="active"><a routerLink="/auditinglog"><span class="glyphicon glyphicon-signal"></span> Auditing Log</a></li>
        <mat-expansion-panel *ngIf="role==='Admin'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span style="padding:2px" class="glyphicon glyphicon-wrench"></span>Administration
            </mat-panel-title>
          </mat-expansion-panel-header>
          <li style="width:180px; padding-left:-8px;" routerLinkActive="active"><a routerLink="/user/registration"><span class="glyphicon glyphicon-user"></span> User Registration</a></li>
          <li style="width:180px;" routerLinkActive="active"><a routerLink="/logs"><span class="glyphicon glyphicon-align-left"></span> Logs</a></li>
        </mat-expansion-panel>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button style="color:white !important" type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color:#FFB500 !important"><a href="home"><img class="logo" src="assets/images/logo.png" alt="UPS-Logo">UPS Address Translation (HK-KR)</a></span>
      <span class="spacer"></span>
      <a style="cursor: pointer"><span class="glyphicon glyphicon-user"></span>&nbsp;{{userName}}</a>
      <a style="cursor: pointer" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
