mat-sidenav {
  background-color: #351C15;
}

.sidenav-container {
  height: 100%;
  overflow: hidden;
}

.sidenav {
  width: 250px;
}

  .sidenav .mat-toolbar {
    background: inherit;
  }

mat-nav-list ul li {
  width: 250px;
  height: 63px;
  margin: 9px 0px 0px 0px;
  padding: 22.5px 0px 14px 0px;
}

  mat-nav-list ul li a {
    color: #FFFFFF !important;
    padding-left: 10px;
  }

    mat-nav-list ul li a:focus, a:hover {
      text-decoration: none;
    }

.active {
  background: #795A47;
}

mat-toolbar span a, a:hover {
  color: #FFB500 !important;
  font-size: 28px;
}

.mat-toolbar {
  background: #351C15;
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a, a:hover {
  display: inline-block;
  margin: 0 10px;
  color: white !important;
  text-decoration: none;
  font-size: 16px;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 0px 20px 0px 10px;
}
mat-sidenav-content{
  overflow:hidden;
}
mat-expansion-panel, mat-expansion-panel-header{
  background:inherit;
  border:none;
  box-shadow:unset;
  padding:0px 5px 0px 5px;
}
mat-panel-title {
  color: white;
}
