<nav class="navbar" style="position:fixed; z-index: 1;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#"><img class="logo" src="assets/images/logo.png" alt="UPS-Logo"></a>
    </div>
    <div class="collapse navbar-collapse">
      <span class="apptxt">UPS Address Translation</span>
      <div class="navbar navbar-right">
        <a href="#" id="usericon"><span class="user"><span class="glyphicon glyphicon-user"></span> {{employeeId}}</span></a>
        <a style="cursor: pointer" (click)="logout()" id="logouticon"><span class="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</span></a>
      </div>
    </div>
  </div>
</nav>
