.col-md-2 {
  margin: 0;
  margin-top:63px;
  padding: 0;
  height: calc( 100vh - 63px);
  background-color: #351C15;
  position: relative;
  overflow-y: auto;
  overflow-x:hidden;
}
ul li {
  width: 270px;
  height: 63px;
  margin: 9px 0px 0px 0px;
  padding: 22.5px 0px 14px 0px;
}

  ul li a {
    color: #FFFFFF !important;
    padding-left: 40px;
  }

a:focus, a:hover{
  text-decoration:none;
}
.active{
  background:#795A47;
}
