.col-md-10{
  padding:0;
  margin:0;
  margin-top:63px;
  position:relative;
}
.routepage {
  padding: 5px;
  overflow-x: auto;
  overflow-y: auto;
  height: calc(100vh - 63px);
}
.map-image {
  width: 400px;
  height: 330px;
}

table {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: underline;
}


::ng-deep snack-bar-container.custom-class-success {
  background: #F2F2F2;
  position: absolute;
  top: 50px;
  right: 16px;
}

::ng-deep .custom-class-success .mat-simple-snackbar {
  color: #339900 !important;
  font-weight: bold;
}

::ng-deep snack-bar-container.custom-class-error {
  background: #F2F2F2;
  position: absolute;
  top: 50px;
  right: 16px;
}

::ng-deep .custom-class-error .mat-simple-snackbar {
  color: red !important;
  font-weight: bold;
}
.col-md-2{
  float:right;
}
.table-div {
  width: 100%;
  height: 435px;
  overflow: auto;
}

mat-row:nth-child(odd) {
  background: #F2F2F2;
}

mat-header-row {
  background: #F2F2F2;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
} 
