<div class="content-section-header">
  <h4>Work Flow </h4>
</div>

<div>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="">
    <input type="file" id="fileUpload1" hidden (change)="onFileChange($event)" />
    <label for="fileUpload1" class="btn btn-info">Upload</label>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="WorkflowID">
      <mat-header-cell *matHeaderCellDef> WorkflowID </mat-header-cell>
      <mat-cell *matCellDef="let element"><a fxFlexFill [routerLink]="['/shipment']" class="mat-row-link"> {{element.WorkflowID}}</a> </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Owner">
      <mat-header-cell *matHeaderCellDef> Owner </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Owner}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="FileName">
      <mat-header-cell *matHeaderCellDef> File Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.FileName}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="CreatedAt">
      <mat-header-cell *matHeaderCellDef> CreatedAt </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.CreatedAt}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
