<div class="row">
  <div class="col-md-6">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterText" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="col-md-6 text-right">
    <button mat-raised-button color="primary" (click)="addNewRow()"> Add New Row </button>
    <button mat-raised-button color="primary" (click)="addNew()"> Add New </button>
  </div>
</div>
<mat-paginator #paginator
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 20]"
               [showFirstLastButtons]="true">
</mat-paginator>
<div class="table-div">
  <div class="row">
    <mat-table class="table" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="S_No" class="container">
        <mat-header-cell *matHeaderCellDef class="header-cell" mat-sort-header> S No </mat-header-cell>
        <mat-cell *matCellDef="let element" class="cell"> {{element.id}} </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="row"></mat-row>
    </mat-table>
  </div>
</div>
