<div class="pageroute">
  <div class="grid" [hidden]="search">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterText" placeholder="Filter">
      </mat-form-field>
    </div>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    <div class="table-div">
      <mat-table [dataSource]="dataSource">
        <!-- Date Column -->
        <ng-container matColumnDef="logDate">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let log"> {{log.dateTime | date: 'dd-MMM-yyyy HH:mm:ss'}} </mat-cell>
        </ng-container>
        <!-- UserID Column -->
        <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
          <mat-cell *matCellDef="let log"> {{log.userID}} </mat-cell>
        </ng-container>
        <!-- App Name Column -->
        <ng-container matColumnDef="apiType">
          <mat-header-cell *matHeaderCellDef> Application Name </mat-header-cell>
          <mat-cell *matCellDef="let log"> {{log.apiTypes}} </mat-cell>
        </ng-container>
        <!-- Request Column -->
        <ng-container matColumnDef="logRequest">
          <mat-header-cell *matHeaderCellDef> Request </mat-header-cell>
          <mat-cell *matCellDef="let log"> {{log.logRequest}} </mat-cell>
        </ng-container>
        <!-- Response Column -->
        <ng-container matColumnDef="logResponse">
          <mat-header-cell *matHeaderCellDef> Response </mat-header-cell>
          <mat-cell *matCellDef="let log"> {{log.logResponse}} </mat-cell>
        </ng-container>
        <!-- Exception Column -->
        <ng-container matColumnDef="logException">
          <mat-header-cell *matHeaderCellDef> Exception </mat-header-cell>
          <mat-cell *matCellDef="let log"> {{log.logException}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
  <div class="rightnavbar">
    <ul style="list-style:none;" *ngFor="let list of logFilesList">
      <li><a style="cursor:pointer" (click)="onclicklogfile(list)">{{list}}</a></li>
    </ul>
  </div>
</div>
