.login-block {
  background: url(assets/images/translation-bg.png) no-repeat;
  float: left;
  width: 100%;
  height: 100vh;
  margin:0;
}

.block {
  background: #FFFFFF;
  box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
  margin: 10% 0% 0% 15%;
  border-radius: 10px;
  padding: 0;
  width: 70%;
  height: 60%;
}

.row {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.col-md-6 {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 50%;
}

.fll {
  float: left;
  padding:5% 5%;
}

.flr {
  float: right;
}

.trans {
  height: 100%;
  width: auto;
}

.logo {
  margin: 10% 30% 0% 45%;
  height: auto;
  width: 10%;
}

.app-txt {
  font-size: 27px;
  width: 70%;
  margin: 0% 0% 0% 22%;
  font-family: helvetica;
  font-weight: 600;
  color: #FFB200;
  text-align: center;
}

.usertxt {
  width: 67%;
  height: 5%;
  margin: 5% 0% 0px 18%;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-size: 14px;
  padding: 2%;
}

.pwdtxt {
  width: 67%;
  height: 5%;
  margin: 5% 0% 0px 18%;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-size: 14px;
  padding: 2%;
}

.warn {
  font-size: 13px;
  font-family: helvetica;
  margin: 0px 200px 0px 120px;
  font-weight: 600;
  color: #CC0000;
}

.btn {
  width: 20%;
  height: 10%;
  background: #351C15;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 600;
  margin: 5% 0% 0% 42%;
}

input:focus {
  border: 1px solid #351C15;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
  border-radius: 4px;
  outline-color: #351C15;
}
/*Responsivess*/
/*iPad Pro landscapse*/
@media only screen and (max-width: 1366px) and (max-height:1024px) {
  .login-block {
    background: url(assets/images/translation-bg.png) no-repeat;
    float: left;
    width: 100%;
    height: 100%;
    padding:0;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 17% 0% 0% 15%;
    width: 70%;
    height: 50%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
  }

  .fll {
    float: left;
    padding: 5% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 100%;
  }

  .logo {
    margin: 10% 30% 0% 45%;
    height: auto;
    width: 10%;
  }

  .app-txt {
    font-size: 27px;
    width: 70%;
    margin: 0% 0% 0% 22%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 20%;
    height: 10%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    margin: 5% 0% 0% 42%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPad Pro Potrait*/
  @media only screen and (max-width: 1024px) and (max-height:1366px) {
    .login-block {
      background: #282829;
      float: left;
      width: 100%;
      height: 100%;
      padding: 0;
    }

    .block {
      background: #FFFFFF;
      box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
      border-radius: 10px;
      padding: 0;
      margin: 18% 0% 0% 15%;
      width: 70%;
      height: 70%;
    }

    .row {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .col-md-6 {
      padding: 0;
      margin: 0;
      height: 50%;
      width: 100%;
    }

    .fll {
      float: left;
      padding: 5% 5%;
    }

    .flr {
      float: right;
    }

    .trans {
      height: auto;
      width: 90%;
    }

    .logo {
      margin: 10% 30% 0% 45%;
      height: auto;
      width: 10%;
    }

    .app-txt {
      font-size: 27px;
      width: 70%;
      margin: 0% 0% 0% 30%;
      font-family: helvetica;
      font-weight: 600;
      color: #FFB200;
      text-align: center;
    }

    .usertxt {
      width: 67%;
      height: 5%;
      margin: 5% 0% 0px 18%;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      font-size: 14px;
      padding: 2%;
    }

    .pwdtxt {
      width: 67%;
      height: 5%;
      margin: 5% 0% 0px 18%;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      font-size: 14px;
      padding: 2%;
    }

    .warn {
      font-size: 13px;
      font-family: helvetica;
      margin: 0px 200px 0px 120px;
      font-weight: 600;
      color: #CC0000;
    }

    .btn {
      width: 20%;
      height: 10%;
      background: #351C15;
      border-radius: 6px;
      color: #FFFFFF;
      font-size: 17px;
      font-weight: 600;
      margin: 5% 0% 0% 42%;
    }

    input:focus {
      border: 1px solid #351C15;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
      border-radius: 4px;
      outline-color: #351C15;
    }
  }
/*iPad landscapse*/
@media only screen and (max-width: 1024px) and (max-height:768px) {
  .login-block {
    background: url(assets/images/translation-bg.png) no-repeat;
    float: left;
    width: 100%;
    height: 100%;
    padding:0;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 17% 0% 0% 15%;
    width: 70%;
    height: 50%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
  }

  .fll {
    float: left;
    padding: 5% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 100%;
  }

  .logo {
    margin: 10% 30% 0% 50%;
    height: auto;
    width: 10%;
  }

  .app-txt {
    font-size: 20px;
    width: 70%;
    margin: 0% 0% 0% 22%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 30%;
    height: 10%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    margin: 5% 0% 0% 42%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPad Potrait*/
@media only screen and (max-width: 768px) and (max-height:1024px) {
  .login-block {
    background: #282829;
    float: left;
    width: 100%;
    height: 100%;
    padding: 19% 15%;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
  }

  .fll {
    float: left;
    padding: 5% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 90%;
  }

  .logo {
    margin: 10% 30% 0% 45%;
    height: auto;
    width: 10%;
  }

  .app-txt {
    font-size: 20px;
    width: 70%;
    margin: 0% 0% 0% 30%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 20%;
    height: 10%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    margin: 3% 0% 0% 42%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPhone X landscapse*/
@media only screen and (max-width: 812px) and (max-height:375px) {
  .login-block {
    background: url(assets/images/translation-bg.png) no-repeat;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 17% 0% 0% 15%;
    width: 70%;
    height: 50%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
  }

  .fll {
    float: left;
    padding: 3% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 70%;
  }

  .logo {
    margin: 7% 30% 0% 50%;
    height: auto;
    width: 7%;
  }

  .app-txt {
    font-size: 13px;
    width: 70%;
    margin: 0% 0% 0% 25%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 2% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 10px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 2% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 10px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 30%;
    height: 10%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    margin: 0% 0% 0% 42%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPhone X Potrait*/
@media only screen and (max-width: 375px) and (max-height:812px) {
  .login-block {
    background: #282829;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20% 15%;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
  }

  .fll {
    float: left;
    padding: 7% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 90%;
  }

  .logo {
    margin: 5% 30% 0% 45%;
    height: auto;
    width: 10%;
  }

  .app-txt {
    font-size: 13px;
    width: 70%;
    margin: 0% 0% 0% 23%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 9px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 9px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 40%;
    height: 4%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    margin: 3% 0% 0% 30%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPhone 6/7/8 landscapse*/
@media only screen and (max-width: 736px) and (max-height:414px) {
  .login-block {
    background: url(assets/images/translation-bg.png) no-repeat;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 17% 0% 0% 15%;
    width: 70%;
    height: 50%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
  }

  .fll {
    float: left;
    padding: 3% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 70%;
  }

  .logo {
    margin: 7% 30% 0% 50%;
    height: auto;
    width: 7%;
  }

  .app-txt {
    font-size: 13px;
    width: 70%;
    margin: 0% 0% 0% 25%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 2% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 10px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 2% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 10px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 30%;
    height: 10%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    margin: 0% 0% 0% 42%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPhone 6/7/8 Potrait*/
@media only screen and (max-width: 414px) and (max-height:736px) {
  .login-block {
    background: #282829;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20% 15%;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
  }

  .fll {
    float: left;
    padding: 7% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 90%;
  }

  .logo {
    margin: 5% 30% 0% 45%;
    height: auto;
    width: 10%;
  }

  .app-txt {
    font-size: 13px;
    width: 70%;
    margin: 0% 0% 0% 23%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 9px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 9px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 40%;
    height: 4%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    margin: 3% 0% 0% 30%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPhone 5/SE landscapse*/
@media only screen and (max-width: 568px) and (max-height:320px) {
  .login-block {
    background: url(assets/images/translation-bg.png) no-repeat;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 17% 0% 0% 15%;
    width: 70%;
    height: 50%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
  }

  .fll {
    float: left;
    padding: 3% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 70%;
  }

  .logo {
    margin: 7% 30% 0% 50%;
    height: auto;
    width: 7%;
  }

  .app-txt {
    font-size: 13px;
    width: 70%;
    margin: 0% 0% 0% 25%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 2% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 10px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 2% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 10px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 30%;
    height: 10%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    margin: 0% 0% 0% 42%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPhone 5/SE Potrait*/
@media only screen and (max-width: 320px) and (max-height:568px) {
  .login-block {
    background: #282829;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20% 15%;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
  }

  .fll {
    float: left;
    padding: 7% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 90%;
  }

  .logo {
    margin: 5% 30% 0% 45%;
    height: auto;
    width: 10%;
  }

  .app-txt {
    font-size: 13px;
    width: 70%;
    margin: 0% 0% 0% 17%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 9px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 9px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 40%;
    height: 4%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    margin: 3% 0% 0% 30%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPhone 5/SE landscapse*/
@media only screen and (max-width: 568px) and (max-height:320px) {
  .login-block {
    background: url(assets/images/translation-bg.png) no-repeat;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 17% 0% 0% 15%;
    width: 70%;
    height: 50%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
  }

  .fll {
    float: left;
    padding: 3% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 70%;
  }

  .logo {
    margin: 7% 30% 0% 50%;
    height: auto;
    width: 7%;
  }

  .app-txt {
    font-size: 13px;
    width: 70%;
    margin: 0% 0% 0% 25%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 2% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 10px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 2% 0% 0px 22.5%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 10px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 30%;
    height: 10%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    margin: 0% 0% 0% 42%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
/*iPhone 5/SE Potrait*/
@media only screen and (max-width: 320px) and (max-height:568px) {
  .login-block {
    background: #282829;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20% 15%;
  }

  .block {
    background: #FFFFFF;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .col-md-6 {
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
  }

  .fll {
    float: left;
    padding: 7% 5%;
  }

  .flr {
    float: right;
  }

  .trans {
    height: auto;
    width: 90%;
  }

  .logo {
    margin: 5% 30% 0% 45%;
    height: auto;
    width: 10%;
  }

  .app-txt {
    font-size: 13px;
    width: 70%;
    margin: 0% 0% 0% 17%;
    font-family: helvetica;
    font-weight: 600;
    color: #FFB200;
    text-align: center;
  }

  .usertxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 9px;
    padding: 2%;
  }

  .pwdtxt {
    width: 67%;
    height: 5%;
    margin: 5% 0% 0px 18%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 9px;
    padding: 2%;
  }

  .warn {
    font-size: 13px;
    font-family: helvetica;
    margin: 0px 200px 0px 120px;
    font-weight: 600;
    color: #CC0000;
  }

  .btn {
    width: 40%;
    height: 4%;
    background: #351C15;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    margin: 3% 0% 0% 30%;
  }

  input:focus {
    border: 1px solid #351C15;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
    border-radius: 4px;
    outline-color: #351C15;
  }
}
