<section class="login-block">
  <div class="row">
    <div class="col-md-6 fll">
      <img class="trans" src="assets/images/picture.png" alt="translation">
    </div>
    <div class="col-md-6 flr">
      <img class="logo" src="assets/images/logo.png" alt="Ups-Logo"><span class="app-txt">UPS Address Translation</span>
      <form class="login-form" form id="loginbox" [formGroup]="registerForm" (ngSubmit)="onSubmit(ipUser.value,ipPwd.value)">
        <div class="form-group">
          <input #ipUser id="login-username" class="form-control usertxt" type="text" placeholder="User ID" formControlName="userId" name="userid" value="" autofocus>
        </div>
        <div class="form-group">
          <input #ipPwd id="login-password" class="form-control pwdtxt" type="password" placeholder="Password" formControlName="password">
        </div>
        <div class="form-check">
          <button type="submit" class="btn">Get Start</button>
        </div>
      </form>
    </div>
  </div>
</section>
