::ng-deep .nobmargin .mat-form-field-wrapper {
  padding-bottom: 0em;
}

::ng-deep .nobmargin .mat-form-field-underline {
  bottom: 0.25em;
}

::ng-deep .mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  height: 30px;
  line-height: 0px;
}

::ng-deep .mat-form-field-infix {
  border-top: 0em;
}

::ng-deep .mat-paginator-container {
  min-height: 48px !important;
}

::ng-deep .completedGrid .mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
}

::ng-deep .completedGrid .material-icons {
  font-size: 18px !important;
}

::ng-deep .completedGrid .mat-icon-button {
  width: 20px;
}

.table-div {
  width: 100%;
  max-height: calc(100vh - 188px);
  overflow: auto;
}

mat-table {
  width: 100%;
  min-width: 4000px;
  padding: 0;
}

mat-row {
  /*align-items: unset;*/
  padding: 0;
  margin: 0% 1% 0% 0%;
  /*height: 40px;*/
  min-height: 32px;
}

mat-header-row {
  padding: 0;
  height: 42px;
  min-height: 0px;
}

mat-cell {
  padding: 0px 5px 0px 5px;
  width: 150px;
  flex: none;
  float: left;
  font-size: 12px;
}

mat-header-cell {
  padding: 0px 5px 0px 5px;
  width: 150px;
  flex: none;
  font-size: 14px;
  font-weight: bold;
  color:white;
}

/*Workflow ID*/
mat-cell:nth-child(1) {
  margin-left: 25px;
  padding: 0px 5px 0px 5px;
  width: 150px;
  flex: none;
  float: left;
  font-size: 12px;
}

/*Workflow ID*/
mat-header-cell:nth-child(1) {
  margin-left: 25px;
  padding: 0px 5px 0px 5px;
  width: 150px;
  flex: none;
  font-size: 14px;
  font-weight: bold;
}

/*package Number*/
mat-cell:nth-child(3) {
  padding: 0px 5px 0px 5px;
  width: 180px;
  flex: none;
  float: left;
  font-size: 12px;
}

/*package Number*/
mat-header-cell:nth-child(3) {
  padding: 0px 5px 0px 5px;
  width: 180px;
  flex: none;
  font-size: 14px;
  font-weight: bold;
}

/*SHP Company Name*/
mat-cell:nth-child(12) {
  padding: 0px 5px 0px 5px;
  width: 200px;
  flex: none;
  float: left;
  font-size: 12px;
}

/*SHP Company Name*/
mat-header-cell:nth-child(12) {
  padding: 0px 5px 0px 5px;
  width: 200px;
  flex: none;
  font-size: 14px;
  font-weight: bold;
}

/*SHP Address*/
mat-cell:nth-child(13) {
  padding: 0px 5px 0px 5px;
  width: 250px;
  flex: none;
  float: left;
  font-size: 12px;
}

/*SHP Address*/
mat-header-cell:nth-child(13) {
  padding: 0px 5px 0px 5px;
  width: 250px;
  flex: none;
  font-size: 14px;
  font-weight: bold;
}

/*Receiving Company*/
mat-cell:nth-child(4) {
  padding: 0px 5px 0px 5px;
  width: 180px;
  flex: none;
  float: left;
  font-size: 12px;
}

/*Receiving Company*/
mat-header-cell:nth-child(4) {
  padding: 0px 5px 0px 5px;
  width: 180px;
  flex: none;
  font-size: 14px;
  font-weight: bold;
}

/*Receive Address*/
mat-cell:nth-child(5) {
  padding: 0px 5px 0px 5px;
  width: 325px;
  flex: none;
  float: left;
  font-size: 12px;
}

/*Receive Address*/
mat-header-cell:nth-child(5) {
  padding: 0px 5px 0px 5px;
  width: 325px;
  flex: none;
  font-size: 14px;
  font-weight: bold;
}

/*SHP Translated Address*/
mat-cell:nth-child(6) {
  padding: 0px 5px 0px 5px;
  width: 310px;
  flex: none;
  float: left;
  font-size: 12px;
}

/*SHP Translated Address*/
mat-header-cell:nth-child(6) {
  padding: 0px 5px 0px 5px;
  width: 310px;
  flex: none;
  font-size: 14px;
  font-weight: bold;
}

/*Specification*/
mat-cell:nth-child(11) {
  padding: 0px 5px 0px 5px;
  width: 250px;
  flex: none;
  float: left;
  font-size: 12px;
}

/*Specification*/
mat-header-cell:nth-child(11) {
  padding: 0px 5px 0px 5px;
  width: 250px;
  flex: none;
  font-size: 14px;
  font-weight: bold;
}

mat-row:nth-child(odd) {
  background: #F2F2F2;
}

mat-header-row {
  background-color: gray;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
}

mat-cell {
  font-size: 12px;
}
