//Variables

//Colors
$smoke: rgba(250, 250, 250, 1.00); /* #fafafa */
$smokier: rgba(205, 208, 216, 1.00); /* #cdd0d8 */
$white-overlay: rgba(255, 255, 255, 0.60);
$orange: rgba(255, 198, 72, 1.00); /* #ffc648 */
$orange-overlay: rgba(255, 198, 72, 0.75);
$red: rgba(166, 0, 0, 1.00); /* #a60000 */
$green-light: rgba(177, 255, 0, 1.00); /* #b1ff00 */
$green-light-overlay: rgba(177, 255, 0, 0.75);
$green-bright: rgba(146, 211, 0, 1.00); /* #92d300 */
$green-bright-overlay: rgba(146, 211, 0, 0.75);
$green-bright-text: rgba(139, 195, 74, 1.00); /* #8bc34a */
$green-medium: rgba(98, 142, 0, 1.00); /* #628e00 */
$blue-cloud: rgba(163, 201, 229, 1.00); /* #a3c9e5 */
$blue-sky: rgba(103, 213, 255, 1.00); /* #67d5ff */
$blue-overlay-strong: rgba(72, 198, 255, 0.80);
$blue-overlay: rgba(72, 198, 255, 0.60);
$blue-primary: rgba(83, 148, 255, 1.00); /* #5394ff */
$blue-bright-text: rgba(33, 150, 243, 1.00); /* #2196f3 */
$blue-hover: rgba(66, 133, 244, 1.00); /* #4285f4 */
$blue-medium: rgba(0, 123, 255, 1.00); /* #007bff */
$blue-deep: rgba(11, 81, 197, 1.00); /* #0b51c5 */
$blue-base: rgba(16, 42, 67, 1.00); /* #102a43 */
$gray-light: rgba(222, 226, 230, 1.00); /* #dee2e6 */
$gray: rgba(128, 128, 128, 1.00); /* #808080 */
$gray-overlay-light: rgba(55, 71, 79, 0.70);
$gray-overlay-dark: rgba(55, 71, 79, 0.98);
$gray-dark: rgba(51, 51, 51, 1.00); /* #333333 */
$black-overlay-light: rgba(0, 0, 0, 0.10);
$black-overlay-medium: rgba(0, 0, 0, 0.25);
$black-overlay: rgba(0, 0, 0, 0.35);
$black-overlay-dark: rgba(0, 0, 0, 0.85);
$brown-dark: #351C15;
$brown-light: #795A47;
$yellow :#FFB500;
