<div class="row">
  <div class="col-md-6">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="col-md-6 text-right">
    <button class="btn btn-primary" (click)="sendForTranslate()"> Translate </button>
  </div>
</div>
<br />
<div>
  <mat-table #table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!--<ng-container matColumnDef="WFL_ID">
    <mat-header-cell *matHeaderCellDef> WorkflowID </mat-header-cell>

    <mat-cell *matCellDef="let element"><a fxFlexFill routerLink="/shipment/{{element.WFL_ID}}" class="mat-row-link"> {{element.WFL_ID}}</a> </mat-cell>
  </ng-container>-->
    <ng-container matColumnDef="smT_STA_NR">
      <mat-header-cell *matHeaderCellDef> SHP Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.smT_STA_NR}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="smT_NR_TE">
      <mat-header-cell *matHeaderCellDef> SHP Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.smT_NR_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="shP_DT">
      <mat-header-cell *matHeaderCellDef> SHP Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.shP_DT}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="shP_CPY_NA">
      <mat-header-cell *matHeaderCellDef> SHP Company Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.shP_CPY_NA}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fsT_INV_LN_DES_TE">
      <mat-header-cell *matHeaderCellDef> Specification </mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index"> {{element.fsT_INV_LN_DES_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="shP_ADR_TE">
      <mat-header-cell *matHeaderCellDef> SHP Address </mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index"> {{element.shP_ADR_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="shP_ADR_TR_TE">
      <mat-header-cell *matHeaderCellDef> SHP Translated Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.shP_ADR_TR_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="shP_CTC_TE">
      <mat-header-cell *matHeaderCellDef> SHP Contact </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.shP_CTC_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="shP_PH_TE">
      <mat-header-cell *matHeaderCellDef> SHP Phone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.shP_PH_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="orG_CTY_TE">
      <mat-header-cell *matHeaderCellDef> Origin City </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orG_CTY_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="orG_PSL_CD">
      <mat-header-cell *matHeaderCellDef> Origin Postal code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orG_PSL_CD}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="imP_SLC_TE">
      <mat-header-cell *matHeaderCellDef> IMP SLC </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.imP_SLC_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="rcV_CPY_TE">
      <mat-header-cell *matHeaderCellDef> Receiving Company </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rcV_CPY_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="rcV_ADR_TE">
      <mat-header-cell *matHeaderCellDef> Receive Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rcV_ADR_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dsT_CTY_TE">
      <mat-header-cell *matHeaderCellDef> DST City </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dsT_CTY_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dsT_PSL_TE">
      <mat-header-cell *matHeaderCellDef> DST Postal Code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dsT_PSL_TE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="coD_TE">
      <mat-header-cell *matHeaderCellDef> COD </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.coD_TE}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
