<mat-dialog-content class="container">
  <form (ngSubmit)="submit" #formControl="ngForm" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Postal Code" maxlength="50" value="{{data.PostalCode}}" [(ngModel)]="data.PostalCode" name="PostalCode">
    </mat-form-field><br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="City" maxlength="100" value="{{data.City}}" [(ngModel)]="data.City" name="City">
    </mat-form-field><br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Centre" maxlength="50" value="{{data.Centre}}" [(ngModel)]="data.Centre" name="Centre">
    </mat-form-field><br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Shipping Company" maxlength="50" value="{{data.ShippingCompany}}" [(ngModel)]="data.ShippingCompany" name="ShippingCompany">
    </mat-form-field><br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Shipping Name" maxlength="100" value="{{data.ShippingName}}" [(ngModel)]="data.ShippingName" name="ShippingName">
    </mat-form-field><br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Sending Party Contact" maxlength="100" value="{{data.SendingPartyContact}}" [(ngModel)]="data.SendingPartyContact" name="SendingPartyContact">
    </mat-form-field><br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Shipping Address" value="{{data.ShippingAddress}}" [(ngModel)]="data.ShippingAddress" name="ShippingAddress">
    </mat-form-field><br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contact" maxlength="50" value="{{data.Contact}}" [(ngModel)]="data.Contact" name="Contact">
    </mat-form-field><br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="SLIC Number" type="number" value="{{data.SLICNumber}}" [(ngModel)]="data.SLICNumber" name="SLICNumber">
    </mat-form-field><br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Customer ID" maxlength="50" value="{{data.CustomerID}}" [(ngModel)]="data.CustomerID" name="CustomerID">
    </mat-form-field><br />
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="warn">Cancel</button>
  <button mat-raised-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()" color="primary">Save</button>
</mat-dialog-actions>

